*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 ul > li{
list-style: none;
display: inline-block;
padding: 5px;
    
}

.conteiner{
    width: 1500px;
 margin: 15px;
height:auto;
display: flex;

}
   

.intestazione{
}

.column{
background-color: #DDA61C;
}

.left {
    width: 20%;
padding: 5px;
border: dotted black;
}

.right{
    width: 20%;
padding: 5px;
border: dotted black;
text-align: right;
}

.center{
    width: 60%;
text-align: center;
padding: 5px;
border: dotted black;
}

.backg-azzurro{
    background-color:#a6e1f1;
    justify-content: center;
    display: flex;
}