* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*sezione header*/

.backg-azzurro {
    background-color: #a6e1f1;
    justify-content: center;
    display: flex;
}

.conteiner-header {
    width: 1500px;
    margin: 15px;
    height: auto;
    display: flex;

}

ul>li {
    list-style: none;
    display: inline-block;
    padding: 5px;

}

.column {
    background-color: #DDA61C;
}

.left {
    width: 20%;
    padding: 5px;
    border: dotted black;
}

.right {
    width: 20%;
    padding: 5px;
    border: dotted black;
    text-align: right;
}

.center {
    width: 60%;
    text-align: center;
    padding: 5px;
    border: dotted black;
}


/*sezione rettangolo rosa*/

.backg-blu {
    background-color: blue;
    padding-bottom: 22px;
    padding-top: 12px;
}

.pink {
    background-color: #EF82ED;
    height: 300px;
    width: 40%;
    border: dotted black;
    margin: auto;
    margin-top: 35px;
}

/*Sezione rettangoli uniti tipo1*/

.backg-white {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.rettangolo1 {
    background-color: #1E90FF;
    height: 400px;
    width: 42%;
    border: dotted black;
    margin-top: 35px;
}

.rettangolo2 {
    background-color: #FFC0C9;
    height: 400px;
    width: 18%;
    border: dotted black;
    margin-top: 35px;
}

/*sezione rettangoli uniti tipo 2*/

.backg-gray {
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}


.rettangolo3 {
    background-color: #1E90FF;
    height: 400px;
    width: 42%;
    border: dotted black;
    margin-top: 35px;
    order: 1;
}

.rettangolo4 {
    background-color: #FFC0C9;
    height: 400px;
    width: 18%;
    border: dotted black;
    margin-top: 35px;
}


/*sezione rettangolo verde*/

.backg-gray2 {
    background-color: #D3D3D3;
    padding-bottom: 45px;
    padding-top: 45px;
}

.rettangolo5 {
    background-color: #218B21;
    height: 600px;
    width: 50%;
    border: dotted black;
    margin: auto;
}

/*sezione rettangoli uniti tipo 3*/

.backg-darkgray {
    background-color: #23272A;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.rettangolo6 {
    background-color: #FFC0C9;
    height: 400px;
    width: 10%;
    border: dotted black;
    margin-top: 12px;
}

.rettangolo7 {
    background-color: #20B3AA;
    height: 400px;
    width: 10%;
    border: dotted white;
    margin-top: 12px;
}

.rettangolo8 {
    background-color: #20B3AA;
    height: 400px;
    width: 10%;
    border: dotted white;
    margin-top: 12px;
}

.rettangolo9 {
    background-color: #20B3AA;
    height: 400px;
    width: 10%;
    border: dotted white;
    margin-top: 12px;
}

.rettangolo10 {
    background-color: #20B3AA;
    height: 400px;
    width: 10%;
    border: dotted white;
    margin-top: 12px;
    display: inline-block;
}

/*sezione footer*/

.backg-footer {
    padding-top: 60px;
    background-color: #23272A;
    margin-top: 2px;

}

.conteiner-footer {
    height: 60px;
    width: 50%;
    margin: auto;
    background-color: #77f3de;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-color: #d188a4;
    border: dotted black;
}

.button {
    background-color: #d188a4;
    border: dotted black;
}